@{
    ViewBag.Title = "Как сохранить прямые эфиры с инстаграм на компьютер";
    ViewBag.Description = "Прямые эфиры в Instagram: как сохранить для дальнейшего использования";
}

<section id="fh5co-blog" data-section="blog">
    <div class="fh5co-blog">
        <ol class="breadcrumb" style="font-size: 15px;">
            <li class="breadcrumb-item"><a href="/Home/Ru/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/BlogRu/">Блог</a></li>
            <li class="breadcrumb-item active" style="color: mediumblue;">Как сохранить прямые эфиры с инстаграм на компьютер</li>
        </ol>
        <div class="container">

            <!--div class="row">
            <div class="col-md-12 section-heading text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3 class="animate-box fadeInUp animated-fast">Прямые эфиры в Instagram: как сохранить для дальнейшего использования</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ofBnoZxOv70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            </div-->
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h3 class="animate-box fadeInUp animated-fast" style="color: black;">Прямые эфиры в Instagram: как сохранить для дальнейшего использования.</h3>
                </div>
                <div class="row">
                    <div class="col-md-12 section-heading text-center">

                        <p>1. Прямые трансляции пользуются большой популярностью в инстаграм. Если live-трансляция была организована вами, сохранить ее будет несложно (на телефоне). Возможность скачивания чужих записей имеет ряд отличительных деталей и нюансов. Во-первых, нужно дождаться окончания эфира. Во-вторых, скачанное видео не будет сопровождаться ранее оставленными подписчиками лайками или комментариями. В-третьих, видеоролики Instagram Live транслируются из двух отдельных источников: один для аудио и один для видео. Вы можете загрузить эти 2 источника отдельно. Вам придется объединить их в один файл самостоятельно. Instagram не позволяет сохранять чужие «Трансляции». Официальное расширение <a target="_blank" href="https://chrome.google.com/webstore/detail/social-helper/codifnnlonenkojdcohfomnbkanpolhd">Social Helper</a> — настоящая палочка-выручалочка в подобных ситуациях.</p>
                        
                        <p>2. Теперь обо всем по порядку. Как установить Social Helper можете посмотреть <a target="_blank" href="/BlogRu/HowToInstall/">тут</a>. Далее переходим на главную страницу инстаграм. Законченные прямые трансляции вы можете увидеть в новостной ленте.</p>
                        
                        <img src="/Content/images/blog/ru/2.jpg" alt="скрин отображения законченные прямой трансляции в ленте  инстаграм" title="картинка отображения законченные прямой трансляции в ленте  инстаграм" style="width: 50%;">
                        
                        <p>3. Открываем необходимую трансляцию. В правом верхнем углу отобразится кнопка сохранения. Нажмите на неё</p>
                        
                        <img src="/Content/images/blog/ru/3.jpg" alt="скрин отображения кнопки сохранения прямой трансляции в инстаграм" title="картинка отображения кнопки сохранения прямой трансляции в инстаграм" style="width: 50%;">
                        
                        <p>4. Далее откроется попап с предупреждением, в котором будет две кнопки (на скачку видеодорожки и аудио).</p>
                        
                        <img src="/Content/images/blog/ru/4.jpg" alt="скрин попап с предупреждением" title="картинка попап с предупреждением" style="width: 50%;">
                        
                        <p>5. Нажмите на кнопку скачки видеодорожки. В открывшемся окне воспользуйтесь контромали как показано на скрине.</p>
                        
                        <img src="/Content/images/blog/ru/5.jpg" alt="скрин скачки видеодорожки" title="картинка скачки видеодорожки" style="width: 50%;">
                        
                        <p>6. Затем нажмите на кнопку скачки аудио. В открывшемся окне воспользуйтесь контромали как показано на скрине.</p>
                        
                        <img src="/Content/images/blog/ru/6.jpg" alt="скрин скачки аудио" title="картинка скачки аудио" style="width: 50%;">
                        
                        <p>7. Сохраненные два файла легко объединить в любом удобном для вас видеоредакторе.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>