@{
    ViewBag.Title = "Часто задаваемые вопросы";
    ViewBag.Description = "Часто задаваемые вопросы";
}

<section id="fh5co-blog" data-section="blog">
    <div class="fh5co-blog">
        <ol class="breadcrumb" style="font-size: 15px;">
            <li class="breadcrumb-item"><a href="/Home/Ru/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/BlogRu/">Блог</a></li>
            <li class="breadcrumb-item active" style="color: mediumblue;">Что делать, если не отображаются некоторые кнопки расширения Social Helper.</li>
        </ol>
        <div class="container">

            <!--div class="row">
            <div class="col-md-12 section-heading text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3 class="animate-box fadeInUp animated-fast">Что делать, если не отображаются некоторые кнопки расширения Social Helper.</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ofBnoZxOv70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            </div-->
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h3 class="animate-box fadeInUp animated-fast" style="color: black;">Что делать, если не отображаются некоторые кнопки расширения или не всё работает Social Helper.</h3>
                </div>
                <div class="row">
                    <div class="col-md-12 section-heading text-center">

                        <p>1. Если у Вас не отображаются некоторые кнопки или не все функции работают корректно, то необходимо проверить настройки браузера.</p>
                        
                        <img src="/Content/images/blog/ru/social.helper.ru_5_12_2018_10_39_5_974.jpg" style="width: 50%;">
                        
                        <p>2. Если при открытии инстаграм у вас открывается отдельная страница со входом в Chrome, то вам необходимо авторизоваться с помощью вашего гугл аккаунта.</p>
                        
                        <img src="/Content/images/blog/ru/social.helper.ru_5_12_2018_10_39_14_397.jpg"  style="width: 50%;">
                        
                        <p>3. В Chrome 70 версии и выше появилась функция управления доступом для расширений. Для быстрого решения этого вопроса необходимо нажать правой кнопкой мыши по иконке расширения и в меню выбрать доступ "На всех сайтах".</p>
                        
                        <img src="/Content/images/blog/ru/social.helper.ru_5_12_2018_10_39_37_876.jpg"  style="width: 50%;">
                        
                        <p>4. Если вы хотите ограничить доступ расширения и разрешить включаться только на странице инстаграм, то необходимо нажать правой кнопкой мыши по иконке расширения и в меню выбрать пункт "Управление расширениями". В открывшемся окне найдите выпадающий список с опциями доступа, выберите опцию "На выбранных сайтах"</p>
                        
                        <img src="/Content/images/blog/ru/2018-12-05_11_38_48.jpg"  style="width: 50%;">
                        
                        <p>5. Введите сайт  https://www.instagram.com , далее нажмите кнопку Добавить.</p>
                        
                        <img src="/Content/images/blog/ru/2018-12-05_11_43_55.jpg"  style="width: 50%;">
                        
                        <p>6. Затем необходимо добавить домен API инстаграм, что бы расширение могло делать запросы на сервер Инстаграм. Нажмите кнопку Добавить. Введите сайт  https://i.instagram.com , далее нажмите кнопку Добавить.</p>
                        
                        <img src="/Content/images/blog/ru/2018-12-05_11_50_18.jpg"  style="width: 50%;">
                        
                        <p>7. По окончанию у вас всё должно выглядеть как на скрине.</p>
                        
                        <img src="/Content/images/blog/ru/2018-12-05_11_55_12.jpg"  style="width: 50%;">
                        
                        <p>8. После закрываем это окно, переходим на страницу инстаграм, обновляем страницу. Все должно работать корректно.</p>
                        
                        <img src="/Content/images/blog/ru/social.helper.ru_5_12_2018_10_39_46_163.jpg"  style="width: 50%;">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>