@{
    ViewBag.Title = "Как незаметно смотреть истории в Инстаграм";
    ViewBag.Description = "Как смотреть истории в Instagram анонимно?";
}

<section id="fh5co-blog" data-section="blog">
    <div class="fh5co-blog">
        <ol class="breadcrumb" style="font-size: 15px;">
            <li class="breadcrumb-item"><a href="/Home/Ru/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/BlogRu/">Блог</a></li>
            <li class="breadcrumb-item active" style="color: mediumblue;">Как незаметно смотреть истории в Инстаграм</li>
        </ol>
        <div class="container">

            <!--div class="row">
            <div class="col-md-12 section-heading text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3 class="animate-box fadeInUp animated-fast">Как незаметно смотреть истории в Инстаграм</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ofBnoZxOv70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            </div-->
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h3 class="animate-box fadeInUp animated-fast" style="color: black;">Как смотреть истории в Instagram анонимно?</h3>
                </div>
                <div class="row">
                    <div class="col-md-12 section-heading text-center">

                        <p>1. Instagram Stories — популярная функция, которая позволяет людям делиться фрагментами из повседневной жизни, украшенными иллюстрациями и стикерами. Единственный недостаток: если вы просматриваете чью-то историю, её владелец об этом непременно узнает. К счастью, есть дополнение <a target="_blank" href="https://chrome.google.com/webstore/detail/social-helper/codifnnlonenkojdcohfomnbkanpolhd">Social Helper</a> для Chrome, которое позволит просматривать Stories анонимно.</p>
                        
                        <p>2. Теперь обо всем по порядку. Как установить Social Helper можете посмотреть <a target="_blank" href="/BlogRu/HowToInstall/">тут</a>. Далее переходим на главную страницу инстаграм. Под хедером отобразится виджет с историями. Просматривая истории в нём, вы останетесь незамеченным.</p>
                        
                        <img src="/Content/images/blog/ru/social.helper.ru_28_11_2018_11_45_34_818.jpg" alt="скрин виджета просмотра историй оставаясь инкогнито в инстаграм" title="картинка виджета просмотра историй оставаясь инкогнито в инстаграм" style="width: 50%;">
                        
                        <p>3. Если вы не подписаны на нужного человека, но профиль для вас открыт, вы можете посмотреть его истории в Инстаграм анонимно там.</p>
                        
                        <img src="/Content/images/blog/ru/social.helper.ru_28_11_2018_11_45_41_754.jpg" alt="скрин отображения кнопки просмотра историй оставаясь инкогнито в инстаграм" title="картинка отображения кнопки просмотра историй оставаясь инкогнито в инстаграм" style="width: 50%;">
                        
                        <p>P.S. Помните, используя контролы от Инстаграм, вы будете просматривать их в обычном режиме и пользователи увидят, что вы их просматривали.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>