@{
    ViewBag.Title = "Как установить Social Helper на компьютер";
}

<section id="fh5co-blog" data-section="blog">
    <div class="fh5co-blog">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Ru/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/BlogRu/">Блог</a></li>
                <li class="breadcrumb-item active" style="color: mediumblue;">Как установить Social Helper на компьютер</li>
            </ol>
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="animate-box fadeInUp animated-fast">Вы можете посмотреть видеоурок.</h3>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/ofBnoZxOv70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h3 class="animate-box fadeInUp animated-fast" style="color: black;">Или воспользоваться пошаговой инструкцией.</h3>
                </div>
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                
                        <p>1. Переходим по <a target="_blank" href="https://chrome.google.com/webstore/detail/social-helper/codifnnlonenkojdcohfomnbkanpolhd">вот этой ссылке</a> в интернет-магазин chrome и нажимаем кнопку "Попробовать"</p>
                        <img  src="/Content/images/blog/ru/shopscreen.png">
                        <p>2. Устанавливаем расширение.</p>
                        <p>3. Открываем страницу <a href="https://www.instagram.com/" target="_blank">инстаграм </a> (если страница была открыта ранее в другой вкладке, то необходимо обновить страницу)</p>
                        <p>4. Далее хром откроет вкладку авторизации, необходимо авторизоваться для подтверждения учетной записи.</p>
                        <p>5. После авторизации появиться попап с запросом на права, их необходимо подтвердить.</p>
                        <p>6. После подтверждения прав, возвращаемся на страницу инстаграма и обновляем страницу еще раз.</p>
                        <p>7. Расширение установлено и готово к работе. В этом можно убедиться по появившимся новым значкам на странице.</p>
                            
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>