@{
	ViewBag.Title = "Блог -";
	ViewBag.Description = "Тут собраны все новости, часто задаваемые вопросы и уроки по использованию экстеншена.";
}

<section id="fh5co-blog" data-section="blog">
		<div class="fh5co-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="animate-box fadeInUp animated-fast"><span>Блог</span></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="animate-box fadeInUp animated-fast">Тут собраны все новости, часто задаваемые вопросы и уроки по использованию экстеншена.</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<!--div class="col-md-4 animate-box blog fadeInUp animated-fast">
						<a href="#" class="entry">
							<div class="blog-bg" style="background-image: url(/Content/images/blog-1.jpg);">
								<div class="date">
									<span>03</span>
									<small>Mar</small>
								</div>
								<div class="desc">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Download Free HTML5 Template</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box blog fadeInUp animated-fast">
						<a href="#" class="entry">
							<div class="blog-bg" style="background-image: url(/Content/images/blog-2.jpg);">
								<div class="date">
									<span>01</span>
									<small>Mar</small>
								</div>
								<div class="desc">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Download Free HTML5 Template</h3>
							</div>
						</a>
					</div-->
					<div class="col-md-4 animate-box blog fadeInUp animated-fast">
						<a href="/BlogRu/HowToDownloadLiveReplay/" class="entry">
							<div class="blog-bg" style="background-image: url(/Content/images/blog/ru/How%20to%20download-01.jpg);">
								<div class="date">
									<span>27</span>
									<small>Ноя</small>
								</div>
								<div class="desc">
									<p>Нажмите чтобы увидеть больше информации.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Прямые эфиры в Instagram: как сохранить для дальнейшего использования</h3>
							</div>
						</a>
					</div>

					<div class="col-md-4 animate-box blog fadeInUp animated-fast">
						<a href="/BlogRu/HowToDownloadStory/" class="entry">
							<div class="blog-bg" style="background-image: url(/Content/images/blog/ru/social.helper.ru_26_11_2018_13_12_24_968.jpg);">
								<div class="date">
									<span>26</span>
									<small>ноя</small>
								</div>
								<div class="desc">
									<p>Нажмите чтобы увидеть больше информации.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Как сохранить истории или хайлайты с инстаграм на компьютер</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box blog fadeInUp animated-fast">
						<a href="/BlogRu/HowToDownloadPhotoFromInstagram/" class="entry">
							<div class="blog-bg" style="background-image: url(/Content/images/blog/ru/downloadfrominstagram.jpg);">
								<div class="date">
									<span>23</span>
									<small>Ноя</small>
								</div>
								<div class="desc">
									<p>Нажмите чтобы увидеть больше информации.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Как сохранить и скачать фото и видео с instagram на компьютер</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box blog fadeInUp animated-fast">
						<a href="/BlogRu/HowToInstall/" class="entry">
							<div class="blog-bg" style="background-image: url(/Content/images/blog/ru/howtoinstall.jpg);">
								<div class="date">
									<span>20</span>
									<small>ноя</small>
								</div>
								<div class="desc">
									<p>Нажмите чтобы увидеть больше информации.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Как установить Social Helper на компьютер</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>