@{
  ViewBag.Title = "";
}

<section id="fh5co-home" data-section="home" style="background-image: url(/Content/images/full_image_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="animate-box"><span class="big">One extension</span> <br><span>with all</span> <br><span class="medium">the necessary</span><br><span>tools</span> <br> <span class="medium">for Instagram</span></h1>

                        <div class="call-to-action">
                            <a href="https://chrome.google.com/webstore/detail/social-helper/codifnnlonenkojdcohfomnbkanpolhd/reviews?hl=en" target="blank" class="demo animate-box"><i class="icon-power"></i> Feedbacks</a>
                            <a href="https://chrome.google.com/webstore/detail/social-helper/codifnnlonenkojdcohfomnbkanpolhd?hl=en" target="blank" class="download animate-box"><i class="icon-download"></i> Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-cloud-upload"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Upload photo to User's profile from PC</h3>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-graph"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Promotion account</h3>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-people"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Manage Followers</h3>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-speech"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Manage Comments from posts</h3>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-like"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Manage Likes from posts</h3>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-list"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Download content from user's profile in batch mode</h3>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-cloud-download"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Single download from Feed, Story, Highlights, User's profile</h3>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-ghost"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>View incognito Stories</h3>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-screen-smartphone"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Mobile view</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section id="fh5co-blog" data-section="blog" style="padding-top: 0px;">
    <div class="fh5co-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="animate-box"><span>Watch Video Tutorials</span></h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="animate-box"><a target="blank" href="https://www.youtube.com/watch?v=3O_8NwJVJNs&index=1&list=PL272WVKsA3rf93sGK1yhMEiE3d6DbDX_Z"> Visit youtube channel</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Lz42SY-yQuc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>How to Install on PC</h3>
                    </div>
                </div>


                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3O_8NwJVJNs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>Quick guide</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Sve9NpEGLGM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>How to Save Instagram Stories and Highlights</h3>
                    </div>
                </div>

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LxWplZ_0Owg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>View incognito Stories</h3>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/G8ZGwHmFF_Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>How to Promote Instagram with Social Helper</h3>
                    </div>
                </div>

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UoOc1CHPZhE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>How to open mobile version of Instagram on pc</h3>
                    </div>
                </div>
            </div>
            </div>
    </div>
</section>