@{
  ViewBag.Title = "";
  ViewBag.Description = "Успешное продвижение аккаунта. Возможность скачать любой контент из инсты. Веди свою статистику профиля. Загрузка фотографий с ПК";
}

<section id="fh5co-home" data-section="home" style="background-image: url(/Content/images/full_image_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="animate-box"><span class="big">Одно расширение</span> <br><span>со всеми</span> <br><span class="medium">необходимыми</span><br><span>инструментами</span> <br> <span class="medium">для Instagram</span></h1>

                        <div class="call-to-action">
                            <a href="https://chrome.google.com/webstore/detail/social-helper/codifnnlonenkojdcohfomnbkanpolhd/reviews?hl=ru" target="blank" class="demo animate-box"><i class="icon-power"></i> Отзывы</a>
                            <a href="https://chrome.google.com/webstore/detail/social-helper/codifnnlonenkojdcohfomnbkanpolhd?hl=ru" target="blank" class="download animate-box"><i class="icon-download"></i> Установить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="animate-box fadeInUp animated-fast">Главные возможности</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext animate-box fadeInUp animated-fast">
                            <a href="/BlogRu/">Посетить наш блог</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-cloud-upload"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Загрузка фотографий в профиль с ПК</h3>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-graph"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Раскрутка страницы</h3>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-people"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Управление фолловерами</h3>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-speech"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Сбор статистики по комментариям под постами</h3>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-like"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Сбор статистики по лайкам</h3>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-list"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Сохранение содержимого из профиля пользователей в пакетном режиме</h3>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-cloud-download"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Скачивание фото и видео из Ленты / Историй / Хайлайтов / Профиля пользователя</h3>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-ghost"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Просмотр историй оставаясь инкогнито</h3>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 text-center">
                    <div class="box-services">
                        <div class="icon animate-box">
                            <span><i class="icon-screen-smartphone"></i></span>
                        </div>
                        <div class="fh5co-post animate-box">
                            <h3>Мобильный вид</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section id="fh5co-blog" data-section="blog" style="padding-top: 0px;">
    <div class="fh5co-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="animate-box"><span>Видео уроки</span></h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="animate-box"><a target="blank" href="https://www.youtube.com/watch?v=ofBnoZxOv70&list=PL272WVKsA3rfcBZt9bIogcICT7bRYI5h1"> Посетить youtube канал</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ofBnoZxOv70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>Как установить</h3>
                    </div>
                </div>

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rFIP9DipaR8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>Как раскрутить инстаграм страницу</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uzwmdRUKIsk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>Как скачать истории из Инстаграм (скачать из актуальное в instagram)</h3>
                    </div>
                </div>

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LxWplZ_0Owg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>Просмотр историй оставаясь инкогнито</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0o6iuUMIumU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>Как скачать видео с IGTV?</h3>
                    </div>
                </div>

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UoOc1CHPZhE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="desc-grid">
                        <h3>Как открыть Инстаграм в мобильном виде на ПК</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>